body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15%;
}

/* navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* download buttons */

.download-button {
  margin: 5% 3% 0% 0%;
}

/* Title image rotation*/

.rotated {
  width: 60%;
  transform: rotate(25deg);
  /* position: absolute; */
}

/* 3 block section 2 */

#features {
  padding: 7% 15%;
  background-color: white;
  /* position: relative;
  z-index: 1; */
}

.featurebox {
  text-align: center;
}

.col {
  padding: 5%;
}

.icons-feature {
  color: #ef8172;
  margin-bottom: 1.5rem;
}

.icons-feature:hover {
  color: #ff4c68;
}

/* Testimonials section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */

#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-images {
  width: 10%;
  margin: 0 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 0px 12px;
}

.card-bodies {
  margin: 0 20px;
}

.card-sides {
  padding: 5%;
}

/* call to action section */

#cta {
  background-color: #ff4c68;
  text-align: center;
}

.container-cta {
  padding: 7% 15%;
}

.p-cta {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.5;
  color: white;
}

.btn-2 {
  background-color: #e2e0e0;
  color: black;
}

.btn-2:hover {
  color: black;
  background-color: #fff;
}

.btn-1 {
  background-color: #343a40;
  color: white;
}

.btn-1:hover {
  color: white;
  background-color: black;
}

/* Footer section */

#footer {
  background-color: #fff;
  text-align: center;
}

.footer {
  margin-top: 10%;
  margin-bottom: 30px;
}

.p-footer {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 7%;
}

.footer-icons {
  margin: 10px 20px;
}

/* Media queries */

@media screen and (max-width: 1249px) {
  .rotated {
    width: 60%;
    position: static;
    transform: rotate(0);
    padding: 5% 0;
  }

  h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .row {
    text-align: center;
  }
}
